.dataTables_wrapper .dataTable th:nth-child(5),
.dataTables_wrapper .dataTable td:nth-child(5) {
  text-align: center;
}

.stripe tr:nth-child(even) {
  background-color: rgb(249 250 251);
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  background: rgb(239 246 255) !important;
  border: none !important;
  color: rgb(37 99 235) !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: rgb(243 244 246) !important;
  border: none !important;
}

.dataTables_wrapper .dataTables_filter {
  margin-bottom: 1.5rem;
}

/* Custom scrollbar */
.dataTables_scrollBody::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.dataTables_scrollBody::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.dataTables_scrollBody::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 4px;
}

.dataTables_scrollBody::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}

.dataTables_wrapper {
  transition: all 0.3s ease;
  width: 100% !important;
}

table.dataTable {
  width: 100% !important;
  margin: 0 !important;
  transition: all 0.3s ease;
}

.dataTables_scrollBody {
  transition: all 0.3s ease;
}
